version: "3"
services:
 bind9:
   image: itaru2622/bind9:${distr:-trixie}
   container_name: bind9
   hostname: bind9
   build:
     context:  .
     dockerfile: Dockerfile
     args:
       - zoneDir=${zoneDir:-/etc/bind}
       - dnsdip=${dnsdip:-127.0.0.1}
       - forwarder=${forwarder:-8.8.8.8}
       - rootpwd=${rootpwd:-root}
       - http_proxy=${http_proxy}
       - https_proxy=${http_proxy}
       - no_proxy=${no_proxy}
       - base=${BASE_IMG:-debian:trixie}
   environment:
     - dnsdip=${dnsdip:-127.0.0.1}
     - forwarder=${forwarder:-8.8.8.8}
     - domain=${domain:-local}
     - TTL=259200
     - user=${runas:-root}
   ports:
     - 53:53/udp
     - 53:53/tcp
   # webmin port
     - 10000:10000/tcp
   volumes:
     - ${dDir:-/${HOME}/bind9-conf}:${zoneDir:-/etc/bind}
#    - ${PWD}:/src
   cap_add:
     - NET_ADMIN
   network_mode: ${network_mode:-bridge}
   restart: always
